*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
}
#left{
    height: 100%;
    width: 35%;
    background-color:rgb(200, 70, 70);
    position: relative;
}
#left #text{
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
    line-height: 1;
}
#text h1{
    font-size: 4vw;
    width: 5vw;
}
#text h1 span{
    font-weight:100;
}
#text h2{
    font-weight: 400;
    margin-top: 1vw;
    margin-bottom: 2.7vw;
    font-size: 1.3vw;
}
#text p{
    font-size: 1vw;
    opacity: 0.7;
    width: 60%;
    line-height: 1.6;
   
}
#text button{
    margin-top: 0.7vw;
    padding: 1vw 1.7vw;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: #fff;
    color: rgb(200, 70, 70);
}
#left #btm{
    background-color: #fff;
    position: absolute;
    bottom: 3%;
    left: 0%;
    padding: 1.75vw;
    width: 90%;

}
#btm h3{
    color: rgb(200, 70, 70);
    font-size: 1vw;
    font-weight: 800;
}
#btm p{
    font-size: 0.8vw;

}
#right{
    height: 100%;
    width: 65%;
    background-color: #fff;
    position: relative;
}
#right>img{
    position: absolute;
    height: 16vw;
    width: 30vw;
    top: 49%;
    left: 0%;
    transform: translate(-50%,-50%) rotate(-30deg);
    filter: drop-shadow(2px 1px 1px #080000c1)
}
#center{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 60%;
}
#center h1{
    font-size: 3vw;
}
#center h1 span{
    font-weight: 100;
    color: rgb(200, 70, 70);
}
#center h2{
    font-size: 1vw;
    opacity: 0.7;
    margin-bottom: 3vw;
}
#center h2 span{
    font-weight: 800;
}
#center p{
    font-size: 0.9vw;
    width: 80%;
    opacity: 0.8;
}
#btns button{
    gap:2vw;
    padding: 1vw 1.7vw;
    margin-top: 1.5vw;
}
#btns #btn1{
    background-color: transparent;
    border: 1px solid rgb(200, 70, 70);
    color: rgb(200, 70, 70);
    border-radius: 1vw;
    font-weight: 600;
}
#btns #btn2{
    background-color: rgb(200, 70, 70);
    border:none;
    color: rgb(252, 251, 251);
    border-radius: 100px;
    font-weight: 600;
}
#samples{
    flex-direction: column;
    height:7vw;
    width: 80%;
    
    margin-top: 2vw;
    display: flex;
}
.sample img{
    height: 100%;
    width: 30%;
    margin-right: 0.5vw;
    mix-blend-mode: multiply;
    border-radius: 1vw;
    margin-top: 1vw;
    
}