*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
}

#left{
    
    height: 100%;
    width: 55%;
    background-color: #fffbfb;
}
#nav-left{
    height: 4vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0  1vw;
}
#nav-left img{
    height: 80%;
}
#nav-links-left a:nth-child(1){
   margin-right: 1vw;
}
#nav-left #nav-links-left a{
    text-decoration: none;
    color: #4a6b93;
    font-size: 1vw;
    font-weight: 600;
}
#left #text-content{
    width: 70%;
    padding: 4vw;
}
#text-content h1{
    font-size: 5vw;
    font-weight: 700;
    color: #4a6b93;
    line-height: 1;
    margin-bottom: 2vw;
}
#text-content p{
    
    font-size: 1vw;
    font-weight: 400;
    color: #4a4949;
    opacity: 0.8;
}
.btns{
    padding: 0 4vw;
}
.btns button{
    padding: 1vw 1.75vw;
    background-color: #4a6b93;
    color: #fff;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    outline: none;
    margin-right: 1vw;
}







#right{
    
    height: 100%;
    width: 45%;
    background-color: #4a6b93;
    position: relative;
}
#right #highlight-text{
    height: 95%;
    position: absolute;
    transform: rotate(-90deg);
    left: 71%;
    bottom: 0%;
    z-index: 9;
}
#highlight-text h1{
    font-size: 13vw;
    font-weight: 900;
    color: #dadada54;
}
#nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    z-index: 999;
}
#nav-right a{
    text-decoration: none;
    font-size: 1vw;
    color: #fff;
    font-weight: 600;
}
#nav-icons i{
    color: #fff;
    font-size: 1.75vw;
    
}
#nav-icons i:nth-child(1){
    margin-right: 1vw;
}
#highlight-shoe{
    position: absolute;
    width: 70%;
    left: 35%;
    bottom: 0%;
    opacity: 0;
}
#right #main-shoe{
    position: absolute;
    top: 30%;
    right: 75%;
    width: 30vw;
    height: 20vw;
    z-index: 99999;
    transform: rotate(-30deg);
    filter: drop-shadow(4px 4px 4px #4a4949)
}
#samples-shoe{
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2%;
    width: 60%;
    height: 6vw;
    z-index: 99999;
}
#samp1 {
    height: 4vw;
    width: 4vw;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.814);
}
#samp1 > img{

    height: 80%;
    width: 95%;
}

#samp2 {
    height: 6vw;
    width: 6vw;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.814);
    position: relative;
    
}
#samp2 > img{
    position: absolute;
    height:80%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#samp3 {
    height: 4vw;
    width: 4vw;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.814);
}
#samp3 > img{

    height: 80%;
    width: 95%;
}